# Dependencies
node_modules
client/node_modules

# Production builds
client/dist
dist

# Environment Files
.env
.env.local
.env.production
.env.development

# Vercel Configuration & Caching
.vercel
.tmp
.cache

# Databases & local mocks
db_store.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# Local uploads & OCR trained data files
api/uploads/
tmp/
/tmp/
